/* //////////////////////////////////////// */
/* ///               Global             /// */
/* //////////////////////////////////////// */
html {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  color: #333; }

a {
  color: #048ec6;
  transition: opacity .3s; }
  a:hover {
    opacity: .7; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.button {
  margin: 1em 0;
  padding: 15px 30px;
  display: inline-block;
  background-color: #048ec6;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: white;
  cursor: pointer; }
  .button:hover {
    background-color: #036a94; }
