.playlist {
  @include display(flex);
  @include flex-direction(column);

  .tracks {
    @include flex(1 1 auto);
    overflow: auto;
    height: 100%;
  }

  .track {
    padding: 15px;
    position: relative;
    border-bottom: 1px solid #d6d6d6;
    @include transition(padding 1s);

    &.new:before {
      content: 'NEW';
      padding: 6px 10px;
      position: absolute;
      left: -50px;
      top: 17px;
      background: $color-blue;
      border-radius: 3px;
      font-size: 12px;
      color: white;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .track-artwork {
    width: 50px;
    height: 50px;
    padding-right: 10px;

    img {
      width: 100%;
      margin-top: 5px;
      border-radius: 2px;
      box-shadow: 0 0 0 1px #ddd;
    }
  }

  .track-title {
    width: calc((60% - 50px));
    padding-right: 30px;
  }

  .track-artist {
    width: calc((40% - 50px));
    padding-right: 15px;
  }

  .track-time {
    width: 50px;
    text-align: right;
  }

  footer {
    padding: 10px 15px 50px;
    @include display(flex);
    @include justify-content(space-between);
    background: #e7e7e7;
  }

  .track-count {
    font-style: italic;

    span {
      margin-right: 3px;
      padding: 3px 8px;
      display: inline-block;
      background: $color-blue;
      border-radius: 3px;
      font-style: normal;
      font-weight: 400;
      color: white;
    }
  }

  .request-track {
    text-align: right;
    font-size: 20px;

    .sms-number {
      margin-bottom: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;

      span, strong {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
      }

      strong {
        font-size: 32px;
      }
    }

    .alt-number {
      margin-left: 10px;
      display: inline-block;
      font-style: italic;
      opacity: .7;
    }
  }

  .spotify-play {
    padding: 25px;
    height: 100%;

    iframe {
      border: none;
      @media (max-width: $bp-medium) {
        height: 600px;
      }
    }
  }
}

.demand {
  &.playlist {
    footer {
      position: relative;
      background-image: linear-gradient(#f7f7f7, #fff);
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
      padding-bottom: 1em;
    }

    .tracks {
      height: auto;
      @for $i from 1 through 100 {
        &.tracks-count-#{$i} {
          .track {
            @for $j from 1 through $i {
              &:nth-child(#{$j}) {
                animation-delay: #{($i - $j) * 4}s;
                .track-artwork-big img {
                  transform: rotate(random(10) - 5 + deg);
                }
              }
            }
          }
        }
      }
    }

    .track {
      font-size: 20px;
      padding: 0;
      border-bottom: none;
      position: relative;
      cursor: pointer;

      &.track-simple {
        font-size: unset;
        @include display(flex);
        @include align-items(center);

        @keyframes animate-in {
            0% { opacity: 0; }
          100% { opacity: 1; }
        }

        @keyframes animate-artwork-big {
            0% { opacity: 0; }
           10% { opacity: 1; }
           90% { opacity: 1; }
          100% { opacity: 0; }
        }

        @keyframes animate-odd {
            0% { background: #fff; }
          100% { background: #fcfcfc; }
        }

        .track-details,
        .track-artwork {
          animation: animate-in 1.5s both;
        }

        &:nth-child(odd) {
          animation: animate-odd 0.3s both;
        }

        .track-artwork-big {
          animation: animate-artwork-big 5s both;
        }

        .track-details {
          padding: 20px;
        }
        
        .track-title,
        .track-artist {
          width: auto;
          padding: 0;
        }
        .track-title {
          font-size: 4em;
          font-weight: 300;
          line-height: 1.1em;
          @include flex(1 1 auto);
        }
        .track-artist {
          width: 100%;
          font-size: 1.3em;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.1em;
        }
        .track-artwork {
          padding: 0;
          width: 17.5em;
          height: auto;
          border-radius: 1px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          margin-right: 10px;
        }
        .track-artwork-big {
          animation-delay: inherit;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 100;
          display: flex;
          align-items: center;
          justify-content: center;
          pointer-events: none;
          background: rgba(220, 220, 220, 0.5);
          img {
            width: 70vw;
            height: auto;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
    
    .track-count {
      font-style: italic;
      position: absolute;
      top: -36px;
      right: 0;
      border-radius: 3px 0 0 0;
      padding: 5px 10px 5px 5px;
      background: #ccc;
      span {
        margin-right: 3px;
        padding: 3px 8px;
        display: inline-block;
        background: #048ec6;
        border-radius: 3px;
        font-style: normal;
        font-weight: 400;
        color: white;
      }
    }
    
    .request-track {
      text-align: center;
      @include flex(1 1 auto);
      .sms-number {
        line-height: 1em;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: none;
        font-size: 4em;
        .sms-number-title {
          font-size: 0.7em;
          padding-right: 10px;
        }
        strong {
          font-weight: 600;
        }
        > * {
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          font-size: inherit;
        }
      }
    }
  }

  &.big-number {
    background: #f7f7f7;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    @include flex-direction(column);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    font-size: 10vw;
    line-height: 1.4;
    @include transition(opacity 0.3s);
    pointer-events: none;
    opacity: 0;
    span {
      font-size: 0.75em;
    }
    &.display-big-number {
      opacity: 1;
    }
  }
}